dnutils>=0.3.10
graphviz>=0.20
scipy>=1.8.0
numpy>=1.22.3
matplotlib>=3.5.1
pandas>=1.4.2
dateparser
arff>=0.9
sklearn>=0.0
scikit-learn>=1.0.2
tqdm>=4.63.0
ddt>=1.4.4
requests>=2.27.1
tabulate>=0.8.9
setuptools>=47.1.1
Cython>=0.29.28