name: Build and Publish pyjpt to PyPI

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: 'Version triple, such as x.y.z'

  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

defaults:
  run:
    shell: bash
    working-directory: .

jobs:
    build-and-test:
      name: Run the test suite on the latest checkout
      uses: 'joint-probability-trees/jpt-dev/.github/workflows/reusable-test-and-build.yml@main'
      with:
        version: ${{ github.ref || inputs.version }}
        python-versions: "cp38-cp38 cp39-cp39 cp310-cp310 cp311-cp311"

    publish:
      name: Run the test suite on the latest checkout
      uses: 'joint-probability-trees/jpt-dev/.github/workflows/reusable-publish-package.yml@main'
      needs: build-and-test
      secrets: inherit
